# Dependencias de Node (No se deben subir a GitHub)
node_modules/

# Archivos de build de frontend (no necesitas subirlos a GitHub)
build/
dist/

# Archivos de configuración de editor (No relevantes para GitHub)
.idea/
.vscode/

# Archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos que no necesitas subir
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Si tienes una carpeta "dist" para el backend, puedes excluirla también
backend/dist/
